In [30]:
import pandas as pd
df = pd.read_stata("data/close_college.dta")
display(df.head())

   nearc4  educ  black  smsa  south  married  exper     lwage
0       0     7      1     1      0      1.0     16  6.306275
1       0    12      0     1      0      1.0      9  6.175867
2       0    12      0     1      0      1.0     16  6.580639
3       1    11      0     1      0      1.0     10  5.521461
4       1    12      0     1      0      1.0     16  6.591674

In [ ]:
import os
# os.environ['R_HOME'] = "C:/PROGRA~1/R/R-43~1.1" # PATH FEMKE

%load_ext rpy2.ipython

In [ ]:
# import necessary packages
from itertools import combinations

import cdt
# cdt.SETTINGS.rpath = '/usr/local/bin/Rscript' # for macOS
# cdt.SETTINGS.rpath = 'C:/Program Files/R/R-4.0.3/bin/Rscript' # for Windows
cdt.SETTINGS.rpath = 'C:/PROGRA~1/R/R-43~1.1/bin/Rscript' # for FEMKE PATH



#from dowhy import CausalModel
import matplotlib.pyplot as plt
import networkx as nx
import numpy as np
from numpy.random import normal
import pandas as pd
import pingouin as pg

np.random.seed(0)